.container{
    background-color:  plum;
}
.MK{
font-size: 12px;
}
.MK:hover{
    color: white;
}
.empty{
    border: hidden;
}
.box{
    padding: 5px; 
    background-color:lightskyblue; 
}
.fox{
    background-color:yellowgreen;
    padding:6px ;
    
}
.fo{
    background-color:lightcoral;
    padding:6px ;  
}
.yellow{
    background-color: lightgreen; 
}
.red{
    background-color: cornflowerblue;
    padding:6px ;
}

.green{
    background-color: tan; 
}
.blue{
    background-color:palevioletred;  
}
.orange{
    background-color:cadetblue;
    padding:6px;
}
.M{
    padding: 10px;
    background-color: silver; 
}
fieldset{
    display: inline-block;
    border: 7px solid black;
    width: 100px;
    border-radius: 20px;
   margin-top: 10%;
   margin-left: 215px;
}
table{
    
    border-collapse: collapse;

}
body{
    background-color:lightcyan;
    cursor: pointer;
}
.tab{
    background-color:lightgoldenrodyellow;
    text-shadow: 5px 5px lightgray;
    color: black;
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
    border: 6px solid black;
    border-radius: 15px;
}
.tab:hover{
    background-color: lightseagreen;
    color:white;
    transition-timing-function: ease-out;
    transition-delay: 0.3s;
    font-style: italic;
}
.name{
    border: 4px solid purple;
    font-size: 30px;
    margin-top: 200px;
    font-style: italic;
  width: 380px;
}
.name:hover{
    cursor: not-allowed;
    border: 3px solid black;
    background-color:gainsboro;
    color: brown;
    transition-timing-function: ease-in-out;
    transition-delay:0.3s;}
td,tr{
    border:1px solid black
}